/.idea/BIHR_Nao2022.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_7_6_22,_8_17_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_7_13_22,_12_06_AM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_7_6_22__8_17_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_7_13_22__12_06_AM__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_7_6_22,_8_17_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_7_13_22,_12_06_AM_[Changes]/shelved.patch
